<h1>Goblin 登入儀式</h1>
<form method="POST" action="/login">
  <input name="username" placeholder="帳號" required>
  <input type="password" name="password" placeholder="密碼" required>
  <button type="submit">登入</button>
</form>
